.link {
  text-decoration: none;
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.link__invalid {
  background-color: indianred;
}

.link__valid {
  background-color: mediumaquamarine;
}

.link__valid:hover {
  background-color: #a8ecd5;
}
